{{ project_name }}

Use this code to {{ purpose }}:

    {{ code }}

Expires in {{ expires_minutes }} minutes. It can be used once.

Never share this code. {{ project_name }} staff will never ask you for it.
