{{ project_name }}

Your password was just changed. All other sessions have been signed out.

If this was you, nothing further is needed.

IF THIS WAS NOT YOU, your account may be compromised. Reset your password
immediately at {{ frontend_base_url }}/auth/forgot-password and contact
{{ support_email }}.
