{% extends "_base.html.j2" %}
{% block content %}
  <p style="margin:0 0 12px;">Your password was just changed.</p>
  <p style="margin:0;">
    All other sessions have been signed out. If this was you, nothing further is needed.
  </p>
{% endblock %}
{% block footer %}
  <strong style="color:#b91c1c;">If this was not you</strong>, your account may be
  compromised. Reset your password immediately at
  <a href="{{ frontend_base_url }}/auth/forgot-password" style="color:#111827;">{{ frontend_base_url }}/auth/forgot-password</a>
  and contact {{ support_email }}.
{% endblock %}
